{% extends 'main-metronic.html.twig' %}

{% block title %}Edit ReturnSettings{% endblock %}
{% block stylesheet %}
   <link href="{{asset('/assets/css/return.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container-xxl mt-17 pt-5">
<div class="row">
    <div class="col-lg-3 col-xl-2">
        {{include('/components/vertical-sidebar.html.twig')}}
    </div>
    <div class="col-lg-7">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">General settings</h3>
        </div>
    </div>
    <div class="card no-radius">
    <div class="card-body">

        {{include('/components/alert-message.html.twig')}}

        {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}
            <div class="row mb-6 mt-2">
                <div class="col-lg-4 text-right">
                {{ form_label(form.image_logo) }} 
                </div>
                <div class="col-lg-8">
                    <div class="image-input image-input-outline image-input-changed" data-kt-image-input="true" style="background-image: url('{{asset('/return_settings_images/')}}{{return_setting.getImageLogo()}}')">
                        <div class="image-input-wrapper w-125px h-125px" style="background-image: url('{{asset('/return_settings_images/')}}{{return_setting.getImageLogo()}}"></div>
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Insert logo">
                           <i class="fas fa-pen text-muted"></i>
                          {{ form_widget(form.image_logo) }}
                        </label>
                    </div>
                    <small>{{ form_help(form.image_logo) }}</small>
                    <div class="form-error col-lg-7 text-danger">
                    {{ form_errors(form.image_logo) }}
                </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right mt-5">
                {{ form_label(form.image_background) }} 
                </div>
                <div class="col-lg-8">
                    <div class="image-input image-input-outline image-input-changed" data-kt-image-input="true" style="background-image: url('{{asset('/return_settings_images/')}}{{return_setting.getImageBackground()}}')">
                        <div class="image-input-wrapper w-125px h-125px" style="background-image: url('{{asset('/return_settings_images/')}}{{return_setting.getImageBackground()}}')"></div>
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Insert image background">
                           <i class="fas fa-pen text-muted"></i>
                            {{ form_widget(form.image_background, {'value': return_setting.getImageBackground() }) }}
                        </label>
                    </div>
                    <small>{{ form_help(form.image_background) }}</small>
                    <div class="form-error col-lg-7 text-danger">
                        {{ form_errors(form.image_background) }}
                    </div>
                </div>
            </div>
             <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.title) }}
                    <small>{{ form_help(form.title) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.status) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.status) }}
                    <small>{{ form_help(form.status) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.status) }}
                    </div>
                </div>
            </div>
             <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.return_period) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.return_period) }}
                    <small>{{ form_help(form.return_period) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.return_period) }}
                    </div>
                </div>
            </div>
              <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                   <label class="required"> Countries</label>
                </div>
                <div class="col-lg-8">
                    <select name="return_settings[countries]" class="form-control">
                        <option value="{{countryid}}">{{countryname}}</option>
                        {% for country in countries %}
                        <option value="{{country.getId()}}">{{country.getName()}}</option>
                        {% endfor %}
                    </select>
                    
                    <small></small>
                    <div class="form-error">
                       
                    </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.city) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.city) }}
                    <small>{{ form_help(form.city) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.city) }}
                    </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.street) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.street) }}
                    <small>{{ form_help(form.street) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.street) }}
                    </div>
                </div>
            </div>
              <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.house_nummber) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.house_nummber) }}
                    <small>{{ form_help(form.house_nummber) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.house_nummber) }}
                    </div>
                </div>
            </div>
             <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.postcode) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.postcode) }}
                    <small>{{ form_help(form.postcode) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.postcode) }}
                    </div>
                </div>
            </div
             <div class="row mb-6 mt-2">
             <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                    </div>
                    <div class="col-lg-8 col-xl-8 p-l0">
                    <button class="btn btn-success mt-3 btn-sm">{{ button_label|default('Save') }}</button>
                    </div>
                </div>
            </div>
        </div>
                
                </div>
            </div>
         {{ form_end(form) }}
        </div>
     </div>
    </div>
</div>
</div>


{% endblock %}
