{% extends 'main-metronic.html.twig' %}


{% block content %}
<div class="container-xxl mt-10">
    {% for message in app.flashes('success')%}
            <div class="alert alert-success mb-2" role="alert">
                {{message}}
            </div>
    {% endfor %}
    {% for message in app.flashes('alert')%}
        <div class="alert alert-danger mb-2" role="alert">
            {{message}}
        </div>
    {% endfor %}

    <div class="mb-5 hover-scroll-x">
        <div class="d-grid">
            <ul class="nav nav-tabs flex-nowrap text-nowrap">
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane">All</a>
                </li>
                {% for st in status %}
                <li class="nav-item">
                    <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_{{st.getId()}}">{{st.getName()}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="kt_tab_pane" role="tabpanel">
          {% include "components/tabs/all-returns.html.twig" %}
        </div>
        <div class="tab-pane fade" id="kt_tab_pane_1" role="tabpanel">
            {% include "components/tabs/in-progress.html.twig" %}
        </div>
        <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
            {% include "components/tabs/pending.html.twig" %}
        </div>
         <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
            {% include "components/tabs/accept.html.twig" %}
        </div>
         <div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel">
            {% include "components/tabs/completed.html.twig" %}
        </div>
          <div class="tab-pane fade" id="kt_tab_pane_5" role="tabpanel">
             {% include "components/tabs/in_delivery.html.twig" %}
        </div>
        <div class="tab-pane fade" id="kt_tab_pane_6" role="tabpanel">
            {% include "components/tabs/delivered.html.twig" %}
        </div>
         <div class="tab-pane fade" id="kt_tab_pane_7" role="tabpanel">
            {% include "components/tabs/denied.html.twig" %}
        </div>
        <div class="tab-pane fade" id="kt_tab_pane_8" role="tabpanel">
            {% include "components/tabs/refunded.html.twig" %}
        </div>
    </div>
       
    </div>

{% endblock %}
{% block javascripts %}
<script src="{{asset('/')}}assets/js/custom/customers/list/export.js"></script>
<script src="{{asset('/')}}assets/js/custom/customers/list/list.js"></script>
<script src="{{asset('/')}}assets/js/custom/customers/add.js"></script>
<script>    

        function searchTable() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("kt_customers_table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td") ; 
            for(j=0 ; j<td.length ; j++)
            {
            let tdata = td[j] ;
            if (tdata) {
                if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                break ; 
                } else {
                tr[i].style.display = "none";
                }
            } 
            }
        }
    }
    </script>
{% endblock %}