{% extends "user-template.html.twig" %}
{% block stylesheet %}
<link href="{{asset('/')}}assets/css/custom.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container">


        <div class="row">
            <div class="col-lg-5 mx-auto pt-5 justify-content-center text-align-center mobile-version">
            
                <div class="row">
                    <div class="col-lg-12 mx-auto text-center">
                        <img src="{{asset('/return_settings_images/')}}{{ imagelogo }}" width="130px" class='img-fluid mt-5 mobile-version-img mb-10'>
                         {% for message in app.session.flashbag.get('success')%}
                            <div class="alert alert-custom alert-success" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">Success! <br>{{message}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                 <div class="card">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Your information
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border rounded mt-2 shadow-sm">
                        <div class="row text-left m-0 mt-5 mb-3">
                            <div class="col-lg-3">Contactnaam:</div>
                            <div class="col">{{madedReturn.getClientName()}}</div>
                           
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-3">Bedrijf:</div>
                            <div class="col">{{madedReturn.getCompanyName()}}</div>
                           
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-3">Adres:</div>
                            <div class="col">
                                <img src="{{asset('/')}}build/countries/nl.svg" width="15px" class="img-fluid"> {{country.getName()}}<br>
                                {{finduser.getCity()}} {{finduser.getPostalCode()}}<br>
                                {{madedReturn.getStreet()}} {{finduser.getHouseNumber()}}
                            </div>
                           
                        </div>
                    </div>
                    
                </div>
                   <div class="card">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Your return information
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border rounded mt-2 shadow-sm">
                        <div class="row text-left m-0 mt-5 mb-3">
                            <div class="col-lg-5">Your return id:</div>
                            <div class="col">{{madedReturn.getId()}}</div>
                         </div>
                        <div class="row text-left m-0 mb-3">
                            <div class="col-lg-5">Order id:</div>
                            <div class="col">{{madedReturn.getWebshopOrderId()}}</div>
                         </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-5">Title of item for returning:</div>
                            <div class="col">{{madedReturn.getItem().getTitle()}}</div>
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-5">Reason for returning item:</div>
                            <div class="col">{{madedReturn.getReason()}}</div>
                        </div>
                        <div class="row text-left m-0 mb-3">
                            <div class="col-lg-5">Quantity for returning:</div>
                            <div class="col">{{madedReturn.getReturnQuantity()}}</div>
                        </div>
                    </div>
                 </div>
                {# <div class="card">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title ml-0">Choose shippment
                                </h3>
                            </div>
                        </div>
                    </div>
                   {{ form_start(form)}}
                    <div class="card-body border rounded mt-2 shadow-sm">
                        <div class="row text-left m-0 mt-5 mb-3">
                            <div class="col-lg-3">Shipping option:</div>
                            <div class="col">
                                <select name="shippingoption" class="form-control">
                                {% for sh in shotpions %}
                                    <option value="{{sh.getShippingOptionId()}}">{{sh.getShippingOptionName()}}</option>
                                {% endfor %}
                                </select>
                                {% for message in app.flashes('er-select') %}
                                <p class="text-danger">
                                    {{ message }}
                                </p>
                            {% endfor %}
                            </div>
                           
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-3"></div>
                            <div class="col">
                              {{ form_widget(form.save, { 'attr': {'class':'btn btn-primary'} }) }}
                            </div>
                        </div>
                       </div>
                      {{ form_end(form) }}
                </div> #}
            </div>
             <div class="col-lg-3">
                <div class="cover cover-background" style="background: url('{{asset('/return_settings_images/')}}{{ imagebackground }}');"></div>
            </div>
        </div>
    </div>
{% endblock %}