{% extends "user-template.html.twig" %}
{% block stylesheet %}
<link href="{{asset('/')}}assets/css/custom.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container">


        <div class="row">
            <div class="col-lg-4 mx-auto pt-5 justify-content-center text-align-center mobile-version">
            
                <div class="row">
                    <div class="col-lg-12 mx-auto text-center">
                        <img src="{{asset('/return_settings_images/')}}{{ imagelogo }}" width="130px" class='img-fluid mt-5 mobile-version-img mb-10'>
                        <div class="kt-wizard-v3__nav-label">
                                    <span class="lz1">4. </span> Retour ingediend
                                </div>   
                    </div>
                </div>
               <!--  <div class="card">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Your information
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border rounded mt-2 shadow-sm">
                        <div class="row text-left m-0 mt-5 mb-3">
                            <div class="col-lg-3">Contactnaam:</div>
                            <div class="col">{{madedReturn.getClientName()}}</div>
                           
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-3">Bedrijf:</div>
                            <div class="col">{{madedReturn.getCompanyName()}}</div>
                           
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-3">Adres:</div>
                            <div class="col">
                                <img src="{{asset('/')}}build/countries/nl.svg" width="15px" class="img-fluid"> {{country.getName()}}<br>
                                {{finduser.getCity()}} {{finduser.getPostalCode()}}<br>
                                {{madedReturn.getStreet()}} {{finduser.getHouseNumber()}}
                            </div>
                           
                        </div>
                    </div>
                    
                </div>
                -->
                   <div class="card">
                    
                    <div class="card-body  rounded mt-2 ">
                        <div class="row text-left m-0 mt-5 mb-3">
                            <div class="col-lg-12 lz1">Retournummer: {{madedReturn.getId()}}</div>
                         </div>
                        <div class="row text-left m-0 mb-2 text-grey">
                            <div class="col-lg-12">Ordernummer: {{madedReturn.getWebshopOrderId()}}</div>
                         </div>
                         <div class="row text-left m-0 mb-2 text-grey">
                            <div class="col-lg-12">Naam artikel: </div>
                        </div>
                         <div class="row text-left m-0 mb-2 text-grey">
                            <div class="col-lg-12">Retour reden:</div>
                        </div>
                        <div class="row text-left m-0 mb-2 text-grey">
                            <div class="col-lg-12">Totaal product(en) retour: </div>
                        </div>

                        <div class="row text-left m-0 mb-1 text-grey">
                            <div class="col-lg-12 mt-4"><p> Uw retour is ingediend en per e-mail aan u bevestigd.<br>
                            Wij nemen uw retour binnen X dagen in behandeling.<br>
                            Aanvullende instructies worden per e-mail toegezonden.</div>
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-3">
                    </div>
                     <div class="col-lg-4">
                    </div>
                     <div class="col-lg-5 mb-10 place-right">
                        <a type="submit" class="btn closer" href="{{asset('/return')}}">venster afsluiten</a>
                    </div>
                 </div>
                {# <div class="card">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title ml-0">Choose shippment
                                </h3>
                            </div>
                        </div>
                    </div>
                   {{ form_start(form)}}
                    <div class="card-body border rounded mt-2 shadow-sm">
                        <div class="row text-left m-0 mt-5 mb-3">
                            <div class="col-lg-3">Shipping option:</div>
                            <div class="col">
                                <select name="shippingoption" class="form-control">
                                {% for sh in shotpions %}
                                    <option value="{{sh.getShippingOptionId()}}">{{sh.getShippingOptionName()}}</option>
                                {% endfor %}
                                </select>
                                {% for message in app.flashes('er-select') %}
                                <p class="text-danger">
                                    {{ message }}
                                </p>
                            {% endfor %}
                            </div>
                           
                        </div>
                         <div class="row text-left m-0 mb-3">
                            <div class="col-lg-3"></div>
                            <div class="col">
                              {{ form_widget(form.save, { 'attr': {'class':'btn btn-primary'} }) }}
                            </div>
                        </div>
                       </div>
                      {{ form_end(form) }}
                </div> #}
            </div>
            
        </div>
    </div>
{% endblock %}