<!DOCTYPE html>

    <head>

		<meta charset="utf-8">
		<meta name="description" content="Aaparcel - Retour ">
		<meta name="keywords" content="Aaparcel - Retour">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Aaparcel - Retour ">
		<meta property="og:url" content="#">
		<meta property="og:site_name" content="Aaparcel - Retour">
		<link rel="canonical" href="#">
		<link rel="shortcut icon" href="#">
        <title> Aaparcel - Retour | {% block title %}{% endblock %}</title>
        
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>

		<!--end::Fonts-->
		<!--begin::Page Vendor Stylesheets(used by this page)-->
		{# <link href="{{asset('/')}}assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"> #}
		<link href="{{asset('/')}}assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
		<!--end::Page Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{{asset('/')}}assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
		<link href="{{asset('/')}}assets/css/style.bundle.css" rel="stylesheet" type="text/css">
        <link href="{{asset('/')}}assets/css/custom.style.css" rel="stylesheet" type="text/css">
        
		<!--end::Global Stylesheets Bundle-->
		<!--Begin::Google Tag Manager -->
            {% block stylesheet %}
            {% endblock %}
		<script src="https://connect.facebook.net/signals/config/738802870177541?v=2.9.57&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-CDVH4VH813&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5FS8GGP"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5FS8GGP');</script>
		<!--End::Google Tag Manager -->
	    <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/984933920/?random=1649855982911&amp;cv=9&amp;fst=1649855982911&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=816&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=120&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2wg460&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fpreview.keenthemes.com%2Fmetronic8%2Fdemo1%2Findex.html&amp;ref=https%3A%2F%2Fpreview.keenthemes.com%2Fmetronic8%2Fdemo1%2Findex.html%3F_ga%3D2.177978018.645716937.1649855785-503087385.1649855785&amp;tiba=Metronic%20-%20the%20world's%20%231%20selling%20Bootstrap%20Admin%20Theme%20Ecosystem%20for%20HTML%2C%20Vue%2C%20React%2C%20Angular%20%26%20Laravel%20by%20Keenthemes&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!--Container-->
    <div class="d-flex flex-column flex-root">

        <!--Row-->
       <div class="page d-flex flex-row flex-column-fluid">

        <!--Sidebar-->
        {{include('components/sidebar.html.twig')}}
        <!--Endsidebar-->
            <!--Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

                <!--Header-->
               {{include('components/header.html.twig')}}
                <!--End Header-->
                        <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
                        <div class="col-lg-12 new-s">
                            <div class="kt-subheader__main">
                                <h3 class="kt-subheader__title">Retour Portal</h3>                                                            </div>
                                  <div class="kt-subheader__toolbar">
                                    <a href="{{asset('/return/search')}}" class="btn btn-label-brand btn-bold"><i class="flaticon2-plus button-icon"></i>Nieuwe Retour</a>
                                 </div>
                            </div>
                        </div>
                <div id="content d-flex flex-column flex-column-fluid">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
            <!--EndWrapper-->
       </div>
       <!--EndRow-->
    </div>
    <!--Endcontainer-->



    <script>var hostUrl = "assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="{{asset('/')}}assets/plugins/global/plugins.bundle.js"></script>
    <script src="{{asset('/')}}assets/js/scripts.bundle.js"></script>

    <script src="{{asset('/')}}assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script src="{{asset('/')}}assets/js/widgets.bundle.js"></script>
    <script src="{{asset('/')}}assets/js/custom/widgets.js"></script>
    <script src="{{asset('/')}}assets/js/custom/apps-chats/chat.js"></script>
    <script src="{{asset('/')}}assets/js/custom/intro.js"></script>

    <script src="{{asset('/')}}assets/js/custom/modals/create-app.js"></script>
    <script src="{{asset('/')}}assets/js/custom/modals/upgrade-plan.js"></script>
    <script src="{{asset('/')}}assets/js/custom/modals/users-search.js"></script>
  
    {% block javascripts %}
           
    {%endblock%}
</body>
</html>