{% extends 'main-metronic.html.twig' %}

{% block title %}Create{% endblock %}

{% block stylesheet %}
   <link href="{{asset('/assets/css/return.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="container-xxl mt-17 pt-5">

{{include('/components/alert-message.html.twig')}}

<div class="xxl">
    <div class="col-lg-12">
    <div class="card">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon btn-back-wrapper">
                <a href="{{asset('/')}}returns" class="btn btn-label-brand btn-bold btn-icon btn-back"><svg class="svg-inline--fa fa-chevron-left fa-w-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg><!-- <i class="fa fa-chevron-left"></i> Font Awesome fontawesome.com --></a>
                </span>
                <h3 class="kt-portlet__head-title">Retour - Edit retour information
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body mt-10">

        {{ form_start(form) }}
             <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.reference) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.reference) }}
                    <small>{{ form_help(form.reference) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.reference) }}
                    </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.order_id) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.order_id) }}
                    <small>{{ form_help(form.order_id) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.order_id) }}
                    </div>
                </div>
            </div>
             <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.status) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.status) }}
                    <small>{{ form_help(form.status) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.status) }}
                    </div>
                </div>
            </div>
             {# <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.items) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.items) }}
                    <small>{{ form_help(form.items) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.items) }}
                    </div>
                </div>
            </div>
             #}
         
              {# <div class="row mb-6 mt-2" id="re1">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.reasons) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.reasons) }}
                    <small>{{ form_help(form.reasons) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.reasons) }}
                    </div>
                </div>
            </div> #}
             
           
            
              <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.client_name) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.client_name) }}
                    
                    <small>{{ form_help(form.client_name) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.client_name) }}
                    </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.client_email) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.client_email) }}
                    <small>{{ form_help(form.client_email) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.client_email) }}
                    </div>
                </div>
            </div>
            <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.company_name) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.company_name) }}
                    <small>{{ form_help(form.company_name) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.company_name) }}
                    </div>
                </div>
            </div>
             <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.street) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.street) }}
                    <small>{{ form_help(form.street) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.street) }}
                    </div>
                </div>
            </div>
               <div class="row mb-6 mt-2">
               <div class="col-lg-4 text-right">
                    {{ form_label(form.postal_code) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(form.postal_code) }}
                    <small>{{ form_help(form.postal_code) }}</small>
                    <div class="form-error text-danger">
                        {{ form_errors(form.postal_code) }}
                    </div>
                </div>
            </div>
             <div class="row mb-6 mt-2">
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                    <button class="btn btn-success mt-3 btn-sm">{{ button_label|default('Save') }}</button>
                </div>
                </div>
            </div>
        {{ form_end(form) }}
        </div>
     </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="    padding: 0px;  margin-top: 10px;">
            <div class="card">
                <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon btn-back-wrapper">
                        
                        </span>
                        <h3 class="kt-portlet__head-title">Date of created return: {{return.getCreatedAt() |date('d-m-Y') }}
                        </h3>
                    </div>
                </div>
                </div>
                {% for items in returnItems %}
                <div class="card-body mt-10 sp0">Title of item: {{items.getItemName()}}<br>
                    Quantity of return: {{items.getReturnQuantity()}}<br>
                    Reason of return: {{items.getReason()}}
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
      
</div>
</div>
{% endblock %}

 {% block javascripts %}

<script src="{{asset('/')}}build/vendor/jquery.min.js"></script>
<script src="{{asset('/')}}build/vendor/bootstrap.bundle.min.js"></script>
<script src="{{asset('/')}}assets/js/custom/create-return-validation.js"></script>
{% endblock %}