{% extends 'main-metronic.html.twig' %}

{% block title %}Search{% endblock %}

{% block stylesheet %}
   <link href="{{asset('/assets/css/return.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container-xxl mt-17 pt-5">

{{include('/components/alert-message.html.twig')}}

    <div class="row">
       
        <div class="col-lg-7">
            <div class="card">
                
                <div class="card-body">

       
                
                {{ form_start(form, {'method': 'POST'}) }}
                    <div class="row mb-6 mt-2">
                    <div class="col-lg-4 text-right">
                            {{ form_label(form.webshop_order_id) }}
                        </div>
                        <div class="col-lg-8">
                            {{ form_widget(form.webshop_order_id) }}
                            <small>{{ form_help(form.webshop_order_id) }}</small>
                            <div class="form-error text-danger">
                                {{ form_errors(form.webshop_order_id) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6 mt-2">
                    <div class="col-lg-4 text-right">
                            {{ form_label(form.user_email) }}
                        </div>
                        <div class="col-lg-8">
                            {{ form_widget(form.user_email) }}
                            <small>{{ form_help(form.user_email) }}</small>
                            <div class="form-error text-danger">
                                {{ form_errors(form.user_email) }}
                            </div>
                        </div>
                    </div>
                     <div class="row mb-6 mt-2">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <button class="btn btn-success mt-3 btn-sm">{{ button_label|default('Search') }}</button>
                        </div>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                   

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}