{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
    <h1>Payments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Public_key</th>
                <td>{{ payment.publicKey }}</td>
            </tr>
            <tr>
                <th>Secret_key</th>
                <td>{{ payment.secretKey }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ payment.image }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ payment.createdAt ? payment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ payment.updatedAt ? payment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payment_index') }}">back to list</a>

    <a href="{{ path('app_payment_edit', {'id': payment.id}) }}">edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
